name: Codacy Coverage Reporter

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  codacy-coverage-reporter:
    runs-on: ubuntu-latest
    name: Codacy Coverage Reporter
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'  # Ensure Node.js version matches your project

      - name: Install dependencies
        run: npm install  # Install Jest and other dependencies

      - name: Run Jest tests and generate coverage report
        run: npm run test -- --coverage  # Runs Jest and generates coverage

      - name: Report coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          CODACY_PROJECT_TOKEN: $${{ secrets.CODACY_API_TOKEN }} 
          coverage-repots: ./coverage/lcov.info
        # run: |
        #   bash <(curl -Ls https://coverage.codacy.com/get.sh) --organization-provider gh --username CSE-210-Team-10 --project-name github-codacy-test
        # env:
        #   CODACY_API_TOKEN: ${{ secrets.CODACY_API_TOKEN }}  # Use your Codacy project token as an environment variable
