# name: Codacy CLI

# on:
#   pull_request:
#     branches:
#       - master
#       - main

# jobs:
#   codacy-cli:

#   - name: Checkout
#         uses: actions/checkout@v4
#       - name: npm install
#         uses: actions/setup-node@v3
#         with:
#           node-version: ${{ matrix.node-version }}
#           cache: 'npm'
#       - run: npm install
#       - name: Codacy
#         run: |
#           bash <(curl -Ls https://raw.githubusercontent.com/codacy/codacy-cli-v2/main/codacy-cli.sh) install
#           bash <(curl -Ls https://raw.githubusercontent.com/codacy/codacy-cli-v2/main/codacy-cli.sh) analyze -t eslint -o eslint.sarif
#       - name: Upload SARIF file to GH
#         uses: github/codeql-action/upload-sarif@v3
#         with:
#           # Path to SARIF file relative to the root of the repository
#           sarif_file: eslint.sarif
#           # Optional category for the results
#           # Used to differentiate multiple results for one commit
#           category: eslint
#     # runs-on: ubuntu-latest
#     # name: Codacy Coverage Reporter
#     # steps:
#     #   - name: Checkout code
#     #     uses: actions/checkout@v2

#     #   - name: Set up Node.js
#     #     uses: actions/setup-node@v2
#     #     with:
#     #       node-version: '22'  # Ensure Node.js version matches your project

#     #   - name: Install dependencies
#     #     run: npm install  # Install Jest and other dependencies

#     #   - name: Codacy CLI V2
#     #     uses: codacy/codacy-cli-v2-action@0.1.2
#     #     with:
#     #       # sarif_file_path: ./report.sarif
#     #       project_token: ${{ secrets.CODACY_PROJECT_TOKEN }} 

          

#       # - name: Run Jest tests and generate coverage report
#       #   run: npm run test -- --coverage  # Runs Jest and generates coverage

#       # - name: Report coverage to Codacy
#       #   uses: codacy/codacy-coverage-reporter-action@v1.3.0
#       #   with:
#       #     project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}  # Ensure this secret is set in your repository
#       #     coverage-reports: ./coverage/lcov.info # Path to your coverage file
